<div class="section" id="status_log_<%= status_log.id %>">
  <span class="quiet right small"><%= time_ago_in_words(status_log.created_at) + t(:ago) %></span>
  <div class="author"><%= link_to status_log.user.name, status_log.user %></div>
  <div class="content"><%= status_log.content %></div>
  <% if creator_of? status_log %>
    <span class="small">
      <%= link_to '删除', status_log, :class => 'hide', :method => :delete, :remote => true, :confirm => '真的要删除吗?' %>
    </span>
  <% end %>
</div>

