<div class="row" id="status_log_<%= status_log.id %>">
  <span class="author"><%= link_to status_log.user.name, status_log.user %>:</span>
  <%=raw parse_status_log(status_log.content) %>
  <span class="quiet small" style="margin-left: 10px;"><%= time_ago_in_words(status_log.created_at) + t(:ago) %></span>
  <% if creator_of? status_log %>
    <span class="right">
      <%= link_to '删除', status_log, :class => 'hide', :method => :delete, :remote => true, :confirm => '真的要删除吗?' %>
    </span>
  <% end %>
</div>

