<h4 class="bg_highlight" style="padding:3px;">
  <%= milestone.name %><span class="quiet small">(<%= milestone.due_date %>)</span>
  <% if can? :manage, milestone %>
    <%= link_to t(:edit), edit_project_milestone_path(project, milestone), :class => :hide %>
    <%= link_to t(:delete), project_milestone_path(project, milestone),
      :class => :hide, :method => :delete, :confirm => t(:delete_confirm) %>
  <% end %>
</h4>
<%= render milestone.issues %>
