<% content_for :head_hook do %>
  <%= javascript_include_tag "jquery.ui.datepicker-zh-CN.js" %>
<% end %>

<% content_for :on_ready_hook do %>
  $("#milestone_due_date").datepicker();
<% end %>

<article class="module width_3_quarter">
  <header><h3><%= @heading_name %></h3></header>
  <div class="module_content">
    <%= form_for [@project, @milestone] do |f| %>
      <%= render 'shared/error_messages', :obj => f.object %>
      <fieldset>
        <%= f.label :name, t(:name) %>
        <%= f.text_field :name %>
      </fieldset>

      <fieldset>
        <%= f.label :due_date, t(:due_date) %>
        <%= f.text_field :due_date %>
      </fieldset>

      <%= f.submit t(:save), :class => :alt_btn %>
    <% end %>
  </div>
</article>
