<% content_for :head_hook do %>
  <%= javascript_include_tag "jquery.ui.datepicker-zh-CN.js" %>
<% end %>

<% content_for :on_ready_hook do %>
  $("#milestone_due_date").datepicker();
<% end %>

<h1><%= t(:create_milestone) %></h1>
<%= form_for [@project, @milestone] do |f| %>
  <%= render 'shared/error_messages', :obj => f.object %>
  <div class="field">
    <%= f.label :name, t(:name) %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :due_date, t(:due_date) %>
    <%= f.text_field :due_date %>
  </div>

  <%= f.submit t(:save) %>
<% end %>
