<div class="todo_item bg_highlight <%= 'sortable' if manage %>" id="todo_<%= todo_item.id %>">
  <%= render 'shared/drag_handle' if manage %>
  <% if todo_item.done? %>
    <input type="checkbox" checked="true" data-id="<%= todo_item.id %>" <%= 'disabled=true' unless manage %>/>
    <span class="todo_done">
  <% else %>
    <input type="checkbox" data-id="<%= todo_item.id %>" <%= 'disabled=true' unless manage %> />
    <span class="todo_new">
  <% end %>
  <%= todo_item.content %>
  </span>
  <%= link_to t(:delete), todo_item, :class => "hide", :method => :delete, :remote => true, :confirm => t(:delete_confirm) if manage %>
</div>

