<table>
  <tr>
    <th width="80"><%= t(:username) %></th>
    <th width="50">E-mail</th>
    <th width="100"><%= t(:created_at) %></th>
    <th width="100"><%= t(:updated_at) %></th>
    <th><%= t(:operations) %></th>
  </tr>
<%= render @users %>
</table>
