<article class="module width_full">
  <header><h3 class="tabs_involved">User Manager</h3></header>
  <div class="modelue_content">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
            <th width="20">ID</th>
            <th width="80"><%= t(:username) %></th>
            <th width="50">E-mail</th>
            <th width="100"><%= t(:created_at) %></th>
            <th width="100"><%= t(:updated_at) %></th>
            <th><%= t(:operations) %></th>
        </tr>
      </thead>
      <%= render @users %>
    </table>
  </div>
  <footer>
    <%= paginate @users %>
  </footer>
</article>
