<div class="section radius-5" id="comment_<%= comment.id %>">
  <span class="quiet right small">
    <% if creator_of?(comment) %>
      <%= link_to t(:edit), edit_comment_path(comment), :class => :action, :remote => true %>
      &nbsp;&middot;&nbsp;
      <%= link_to t(:delete), comment, :method => :delete, :remote => true, :confirm => t(:delete_confirm), :class => :action %>
      &nbsp;&middot;&nbsp;
    <% end %>
    <%= comment.created_at %>
  </span>
  <div class="author"><%= link_to comment.user.name, comment.user %>:</div>
  <div class="content">
    <%=raw parse_markdown comment.content %>
  </div>
</div>
