<div class="section radius-5">
  <span class="quiet right small">
    <% if creator_of?(comment) %>
      <%= link_to '编辑', edit_comment_path(comment), :class => :action %>
      &nbsp;&middot;&nbsp;
      <%= link_to '删除', comment, :method => :delete, :confirm => "真的要删除吗?", :class => :action %>
      &nbsp;&middot;&nbsp;
    <% end %>
    <%= comment.created_at %>
  </span>
  <div class="author"><%= link_to comment.user.name, comment.user %>:</div>
  <%=raw parse_markdown comment.content %>
</div>
