
<% content_for :sidebar do %>
  <div id="file_uploader">
  </div>
  <%= form_for Image.new, :html => {:multipart => true }, :remote => true do |f| %>
    <%= f.file_field :file %>
    <%= f.submit "上传图片" %>
  <% end %>
<% end %>

<%= form_for [@project, @issue] do |f| %>
  <%= render 'shared/error_messages', :obj => @issue %>
  <div class="field">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "内容" %>
    <%= render :partial => 'shared/editor', :locals => {:name => 'issue[content]', :content => @issue.content} %>
  </div>

  <%= f.submit "保存" %>
<% end %>
