= form_for [@project, @issue] do |f|
  = render 'shared/error_messages', :obj => @issue
  %h3= @title
  .name.text_field
    = f.label :title, '任务标题'
    = f.text_field :title
  %p.optional 详细描述（选填）
  .body.text_field
    = f.text_area :content
  .row
    = f.label :milestone, t(:milestone)
    = f.select :milestone_id, options_for_select( @project.milestones.collect { |m| [m.name, m.id] }.unshift([t(:empty_option), 0]), @issue.milestone ? @issue.milestone.id : params[:milestone_id])
  .submit
    = f.submit t(:save)
