<% content_for :on_ready_hook do %>
  $("#upload_file").click(function() {
    window.uploadWindow = window.open("<%= new_image_path %>", "upload_window", "height=200, width=400, top=200, left=200, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no");
  });
<% end %>

<% content_for :sidebar do %>
  <iframe name="upload_image" src="<%= new_image_path %>" style="width: 250px;height: 500px;"></iframe>
<% end %>

<%= form_for [@project, @issue] do |f| %>
  <%= render 'shared/error_messages', :obj => @issue %>
  <div class="field">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "内容" %>
    <%= render :partial => 'shared/editor', :locals => {:name => 'issue[content]', :content => @issue.content} %>
  </div>

  <%= f.submit "保存" %>
<% end %>
