<h4><%= t(:todo) %></h4>

<%= render issue.todo_items.where(:workflow_state => :open), :manage => true %>

<div class="<%= "hide" if issue.closed? %>" id="add_todo_form">
	<%= form_for [issue, todo_item], :remote => true do |f| %>
	<fieldset>
		<%= f.text_area :content, :class => :micro %><br />
	</fieldset>
	<%= f.submit t(:add) %>
  <% end %>
</div>
    
<%= render issue.todo_items.where(:workflow_state => :done), :manage => true %>
