<% content_for :sidebar do %>
  <%= render 'shared/project_nav', :current_url => request.fullpath %>
  <div class="b-box width-80" title="<%= t(:click_to_filter_issues) %>">
    <div class="bar bg-blue"><%= t(:issue_state) %></div>
    <% [:open, :working_on, :paused, :finished, :closed, :reopened, :ignored, :invalid].each do |state_sym| %>
      <div class="row bg_highlight" <%= "filtered" if state_sym.to_s == @issue_state %> clickable="/projects/<%= @project.id %>/issues/state/<%= state_sym.to_s %>">
        <span class="quiet span-2"><%= @project.issues.send("only_#{state_sym.to_s}").count %></span>
        <span class="state state-<%= state_sym.to_s %>"><%= Issue.state_name(state_sym) %></span>
      </div>
    <% end %>
  </div>
<% end %>

<span class="right">
<%= as_button(link_to t(:new_issue), new_project_issue_path(@project)) %>
</span>
<h1><%= @project.name %>&nbsp;/&nbsp;<%= t(:project_feedback) %></h1>
<%= render 'shared/line_spacer' %>
<%= render_with_spacer 'issue', @issues %>
