<% content_for :sidebar do %>
  <div class="b-box" id="issue_workflow_box">
    <%= render 'shared/issue_workflow', :issue => @issue %>
  </div>
<% end %>

<h2 class="title inline"><%= @issue.title %></h2>
<span class="tip">
  @<%= link_to @issue.user.name, @issue.user, :class => "quiet" %>
  <% if creator_of?(@issue) %>
    &nbsp;&middot;&nbsp;
    <%= link_to "编辑", edit_issue_path(@issue), :class => :action %>
    &nbsp;&middot;&nbsp;
    <%= link_to "删除", @issue, :method => :delete, :class => :action, :confirm => "真的要删除吗?" %>
  <% end %>
</span>
<br /><br />
<%=raw parse_markdown @issue.content %>

<div class="b-box" id="todo_list_box">
  <div class="gray_bar">Todo</div>
  <%= render @issue.todo_items %>

  <div class="row <%= "hide" if @issue.closed? %>" id="add_todo_form">
    <%= form_for [@issue, @todo_item], :remote => true do |f| %>
      <%= f.text_area :content, :style => "height: 2em;" %><br />
      <%= f.submit "添加Todo" %>
    <% end %>
  </div>
</div>

<div class="text_large" style="color: green; text-align: center; margin-top: 15px;">当前讨论</div>
<div id="issue_comments">
  <%= render @issue.comments %>
</div>

<div class="row <%= "hide" if @issue.closed? %>" id="add_comment_form">
<%= form_for [@issue, @comment], :remote => true do |f| %>
  <%= f.text_area :content, :style => "height: 10em" %><br />
  <%= f.submit "参与讨论" %>
<% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("input[type=checkbox]").live('change', function() {
        var item_id = $(this).attr('data-id');
        var input = $(this);
        if (input.is(":checked")) {
          // from 'unchecked' to 'checked', mark item as done
          // TODO: The event is hardcoded! should be automatically set from todo_item state
          $.post('/todo_items/' + item_id + '/change_state', {event: "finish"}, function() {
            input.next().removeClass('todo_new').addClass('todo_done');
          });
        } else {
          // uncheck this item, mark as 'new'
          $.post('/todo_items/' + item_id + '/change_state', {event: "undo"}, function() {
            input.next().removeClass('todo_done').addClass('todo_new');
          });
        }
    });

    $("div.row").live('hover', function(ev) {
      if (ev.type == "mouseenter") {
        $(this).children('a.delete_todo').removeClass('hide');
      } else if (ev.type == "mouseleave") {
        $(this).children('a.delete_todo').addClass('hide');
      }
    });

    $("#todo_list_box").sortable({
         axis: 'y',
         dropOnEmpty: false,
         cursor: 'crosshair',
         items: 'div.bg_highlight',
         opacity: 0.6,
         scroll: true, 
         update: function(event, ui) {
            $.post("/todo_items/sort", $("#todo_list_box").sortable('serialize'), function(result) {}, 'script');
         }
    });
  });
</script>
