%h3= icon(@issue.label) + @issue.title

.tip
  = link_to @issue.user.name, @issue.user, :class => "quiet"
  &nbsp;&middot;&nbsp;
  %span.date= time_ago_in_words(@issue.created_at) + t(:ago)
  - if can? :manage, @issue
    &nbsp;&middot;&nbsp;
    = link_to t(:edit), edit_issue_path(@issue), :class => :action
    &nbsp;&middot;&nbsp;
    = link_to t(:delete), @issue, :method => :delete, :class => :action, :confirm => t(:delete_confirm)

=raw parse_markdown @issue.content

#issue_workflow_box
  = render 'shared/issue_workflow', :issue => @issue

#issue_assignment
  = render 'shared/issue_assignment', :issue => @issue

%h3= t('issue.discussions')
%a{:name => 'comments'}

- unless @issue.closed? and @issue.comments.empty?
  #issue_comments
    = render @issue.comments

%div{:class => "#{'hide' if @issue.closed?}", :id => 'add_comment_form'}
  = form_for [@issue, @comment], :remote => true do |f|
    = f.text_area :content, :style => "height: 10em"
    %br/
    = f.submit t('issue.create_comment')

- if @issue.milestone
  = t(:milestone)
  = link_to @issue.milestone.name, project_issues_path(@issue.project)

- if @issue.conversation
  %p= link_to '相关会话', [@issue.project, @issue.conversation]
