<h2><%= @issue.title %></h2>
<p><%=raw parse_markdown @issue.content %></p>

<div class="bar"><h3>Todo</h3></div>
<%= render @issue.todo_items %>

<%= form_for [@issue, @todo_item], :remote => true do |f| %>
  <%= f.text_area :content, :style => "height: 2em;" %>
  <%= f.submit "添加Todo" %>
<% end %>

<div class="bar"><h3>评论</h3></div>
<div id="issue_comments">
  <%= render @issue.comments %>
</div>

<hr>
<%= form_for [@issue, @comment], :remote => true do |f| %>
  <div class="field">
    <%= f.text_area :content, :style => "height: 10em" %>
  </div>
  <%= f.submit "发表评论" %>
<% end %>

<script type="text/javascript">
  $("input[type=checkbox]").live('change', function() {
      var item_id = $(this).attr('data-id');
      var input = $(this);
      if (input.is(":checked")) {
        // from 'unchecked' to 'checked', mark item as done
        $.get('/todo_items/' + item_id + '/do_it', {}, function() {
          input.next().removeClass('todo_new').addClass('todo_done');
        });
      } else {
        // uncheck this item, mark as 'new'
        $.get('/todo_items/' + item_id + '/undo', {}, function() {
          input.next().removeClass('todo_done').addClass('todo_new');
        });
      }
  });

  $("div.row").live('hover', function(ev) {
    if (ev.type == "mouseenter") {
      $(this).children('a.delete_todo').removeClass('hide');
    } else if (ev.type == "mouseleave") {
      $(this).children('a.delete_todo').addClass('hide');
    }
  });

  $(".delete_todo").bind('ajax:success', function() {
      $(this).parent('div').remove();
    });
</script>
