.conversation
  .comment
    .info= link_to '', conversation.user, :class => :thumb_avatar, :style => "background: url(#{avatar_url(conversation.user, :version => :thumb)})"
    .block
      .body
        .title
          = link_to "#{conversation.user.name}开始了新会话", project_conversation_path(@project, conversation)
          %span= "#{conversation.replies.count}条评论"
        - first_reply = conversation.replies.first
        .textilized=raw parse_markdown(first_reply.content)
        - if first_reply.uploads.any?
          = render first_reply.uploads
        %p.go_to_thred= link_to 'Read More', project_conversation_path(@project, conversation)
    .clear
