- content_for :on_ready_hook do
  :plain
    $(".reply_attachment_icon").click(function() {
      $(".reply_upload_area").toggle();
      return false;
    });

    (function() {
      var template = '<input name="reply[uploads_attributes][{{number}}][asset]" type="file" class="fresh" />';
      $(".reply_upload_area input.fresh").live('change', function() {
        $(this).removeClass('fresh');
        $(".reply_upload_area").append(template.replace('{{number}}', $(".reply_upload_area input").size()));
      });
    })();

    $("#new_reply").ajaxForm({dataType: 'script', resetForm: true, iframe:true, data:{xhr: true}});
.conversation_header
  .text_actions
    = link_to t(:edit), edit_project_conversation_path(@project, @conversation)
    或者
    = link_to t(:delete), [@project, @conversation], :method => :delete, :confirm => t(:delete_confirm)
  %h2
.thread
  .comment.comment_header
    .info
      = my_icon 'conversations'
      .comment_count
        %span= @conversation.replies.count
    .block
      .thread_title
        Conversation on
        .project_overlay
          = link_to @project.name, @project
        project
    .clear
  .comments#comments
    = render @conversation.replies
  - new_reply = @conversation.replies.new
  = form_for [@project, @conversation, new_reply], :html => {:multipart => true} do |f|
    .field.text_area
      = link_to '', current_user, :style => "background: url(#{avatar_url(current_user, :version => :micro)}) no-repeat"
      .textarea
        = f.text_area :content, :cols => 40, :rows => 20, :placeholder => '发送消息给其他成员'
    .extra
      .reply_upload_area
        %p 选择文件
        - f.object.uploads.build
        = f.fields_for :uploads do |upload_fields|
          = upload_fields.file_field :asset, :class => :fresh
      .actions
        .attach
          %span Attach:
          = link_to '添加附件', '#uploads', :class => 'reply_attachment_icon'
        %span.convert_to_task
          = link_to '转换为任务', '#convert_to_task'
      .submit
        = f.submit


