<div class="row assigned_issue sortable" id="issue_<%= my_assigned_issue.id %>">
  <span class="drag_handle"><%= image_tag 'cursor_drag_arrow.png', :width => 16, :height => 16, :align => :absmiddle %></span>
  <%= link_to my_assigned_issue.title, my_assigned_issue %>
  <span class="state state-<%= my_assigned_issue.current_state.name.to_s %>"><%= my_assigned_issue.current_state_name %></span>
</div>

