<div class="user_item">
	
  <%= image_tag 'icn_profile.png', :align => :absmiddle, :height => 12, :width => 12 %>

  <%= link_to user.name, user, :class => :tiptip, :title => user.role_name %>

  <% count = @users_working_on[user].size %>
	
	  <% if count == 1 %>    

	    <%= t('issue.user_is_working_on') %>

	    <%= issue_title_link(@users_working_on[user].first) %>

	  <% else %>

	    <%= t('issue.user_is_working_on_the_following') %>
	    <%= render :partial => 'issues/simple_style',
	      :collection => @users_working_on[user],
	      :as => :issue %>
	  <% end %>


</div>
