<% content_for :content do %>
<h2><%= t(:register) %></h2>
<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', :obj => @user %>
  <div class="field">
    <%= f.label :name, t(:username) %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t(:password_confirmation) %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit t(:create_user) %>
<% end %>
<% end %>

<%= render 'layouts/backend_common' %>
