<header><h3><%= t(:register) %></h3></header>

<%= form_for @user do |f| %>
  <div class="module_content"> 
    <%= render 'shared/error_messages', :obj => @user %>  

    <fieldset>
      <%= f.label :name, t(:username) %>
      <%= f.text_field :name %>
    </fieldset>

    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </fieldset>

    <fieldset>
      <%= f.label :password, t(:password) %>
      <%= f.password_field :password %>
    </fieldset>

    <fieldset>
      <%= f.label :password_confirmation, t(:password_confirmation) %>
      <%= f.password_field :password_confirmation %>
    </fieldset>
  </div>
  <footer>
    <div class="submit_link">
      <span class="quiet">&lt;&lt;</span>
      <%= link_to t(:log_in), root_path %>
      <%= f.submit t(:create_user), :class=>:alt_btn %> 
    </div>
  </footer>	
<% end %>
