<div class="blue_bar">
  <% if @issue.assigned_user %>
    <strong><%= t('issue.assignment.assigned_to') %></strong>&nbsp;<%= link_to @issue.assigned_user.name, @issue.assigned_user %>
  <% else %>
    <span class="quiet">{ <%= t('issue.assignment.not_assigned') %> }</span>
  <% end %>
</div>
<div class="row">
  <%= form_for :issue_assignment, :url => assign_to_issue_path(@issue), :remote => true do |f| %>
    <%= t('issue.assignment.assign_to') %>
    <%= select_tag :user_id, options_for_select(User.all.collect { |user| [user.name, user.id] }) %>
    <%= f.submit t(:save) %>
  <% end %>
</div>

