<header>
	<h3>
	  <% if @issue.assigned_user %>
	    <strong><%= t('issue.assignment.assigned_to') %></strong>
	    <% if @issue.assigned_user == current_user %>
	      <%= link_to t(:me), current_user %>
	    <% else %>
	      <%= link_to @issue.assigned_user.name, @issue.assigned_user %>
	    <% end %>
	  <% else %>
	    <span class="quiet">{ <%= t('issue.assignment.not_assigned') %> }</span>
	  <% end %>
	</h3>
</header>

<div class="module_content">
  <% if can? :assign, @issue %>
  <%= form_for :issue_assignment, :url => assign_to_issue_path(@issue), :remote => true do |f| %>
    <%= t('issue.assignment.assign_to') %>
    <%= select_tag :user_id, options_for_select(
      User.all.collect do |user| 
      (user == current_user) ? [t(:me), user.id] : [user.name, user.id] 
      end) %>
    <%= f.submit t(:save) %>
  <% end %>
<% else %>
  <span class="quiet"><%= t('permission.cannot_assign_issue') %></span>
<% end %>
</div>
