- content_for :on_ready_hook do
  - user_names = @project.members.collect { |user| "@#{user.name}" }.unshift('@all')
  :plain
    var names = #{user_names.to_json};
    var textarea = $(".textarea textarea");
    var at_position = -1;
    var set_new_value = function(event, ui) {
      new_content = textarea.val().substr(0, at_position) + ui.item.value;
      textarea.val(new_content);
      return false;
    };

    textarea.autocomplete({source: names, delay: 0, select: set_new_value, focus: function(){ return false; }});
    textarea.keypress(function(ev) {
      if (ev.keyCode == 64) { // user entered '@'
        at_position = textarea.val().length;
      }

      if (at_position >= 0) {
        setTimeout(function() {
          textarea.autocomplete('search', textarea.val().substring(at_position));
        }, 300);
      }
    });
    $("#new_conversation").ajaxForm({dataType: 'script', resetForm: true, iframe: true, data: {xhr: true}});
    $("a.attachment_icon").click(function() {
      $(".upload_area").toggle();
      return false;
    });
    (function() {
      var template = '<input type="file" name="conversation[replies_attributes][0][uploads_attributes][{{number}}][asset]" class="fresh" />';
      $(".upload_area input.fresh").live('change', function() {
        $(this).removeClass('fresh');
        $(".upload_area").append(template.replace('{{number}}', $(".upload_area input").size()));
      });
    })();

#project_panel_wrap
  .column_wrap
    #project_logo
      - if @project.logo?
        = image_tag @project.logo.medium.url
      - else
        = image_tag @project.logo.medium.default_url
  .content_wrap
    = render 'shared/project_menu'
    - new_conversation = @project.conversations.build
    = form_for [@project, new_conversation], :html => {:multipart => true} do |f|
      - new_conversation.replies.build
      = f.fields_for :replies do |reply_form|
        = render 'replies/fields', :f => reply_form, :project => @project
      .submit
        = f.submit
