- content_for :on_ready_hook do
  - user_names = User.limit(10).collect { |user| "@#{user.name}" }
  :plain
    var names = #{user_names.to_json};
    $(".textarea textarea").autocomplete({source: names});

#project_panel_wrap
  .column_wrap
    #project_logo
      - if @project.logo?
        = image_tag @project.logo.medium.url
      - else
        = image_tag @project.logo.medium.default_url
  .content_wrap
    = render 'shared/project_menu'
    = form_for [@project, @conversation], :html => {:multipart => true} do |f|
      - @conversation.replies.build
      = f.fields_for :replies do |reply_form|
        = render 'replies/fields', :f => reply_form
      .submit
        = f.submit
