<% content_for :head_hook do %>
  <%= stylesheet_link_tag 'jquery-ui' %>
<% end %>

<% content_for :on_ready_hook do %>
  $.make_sortable('my_assigned_issues', '<%= assigned_issues_sort_path %>');

  var status_log_input = $("#status_log_content");
  status_log_input.autocomplete({source: "<%= autocomplete_issues_path %>" });
  status_log_input.autocomplete('disable');

  var custom_assign = function(event, ui) {
    var str = status_log_input.val();
    status_log_input.val(str.substring(0, str.lastIndexOf('#') + 1) + ui.item.value);
    status_log_input[0].selectionStart = status_log_input.val().length;
    return false;
  }

  status_log_input.autocomplete('option', 'select', custom_assign);
  status_log_input.autocomplete('option', 'focus', custom_assign);

  search_tag = "";

  status_log_input.keydown(function(event) {
    setTimeout(function() {
      var str = status_log_input.val();
      var sharp_start = str.lastIndexOf('#');
      if (sharp_start == -1) {
        status_log_input.autocomplete('disable');
        return;
      }

      var tag = str.substring(sharp_start + 1);
      if (tag.length == 0 || search_tag == tag || tag.indexOf("'") > -1) {
        return;
      }

      search_tag = tag;
      status_log_input.autocomplete('enable');
      status_log_input.autocomplete('search', tag);
    }, 500);
  });


<% end %>

<% content_for :sidebar do %>
  <% assigned_issues = @user.assigned_issues.except_closed.except_ignored %>
  <div class="b-box">
    <div class="bar bg-blue"><%= t(:my_assigned_issues) %></div>
    <% if assigned_issues.any? %>
      <div id="my_assigned_issues" title="<%= t(:drag_issue_to_sort_priority) %>">
        <%= render :partial => 'users/my_assigned_issue', :collection => assigned_issues %>
      </div>
    <% else %>
      <%= render 'shared/no_items' %>
    <% end %>
  </div>

  <% created_issues = @user.issues.order('created_at DESC').limit(5) %>
  <div class="b-box">
    <div class="bar bg-blue"><%= t(:recently_created_issues) %></div>
    <% if created_issues.any? %>
      <%= render :partial => 'issues/simple_style', :collection => created_issues, :as => :issue %>
    <% else %>
      <%= render 'shared/no_items' %>
    <% end %>
  </div>
<% end %>
<div class=""><%= t(:welcome_user, :username => @user.name) %></div>
<div id="feed_box">
  <%= render 'status_logs/form' %>
  <h1 class="silver"><%= t(:teamtalk) %></h1>
  <%= render :partial => 'status_logs/status_log', :collection => StatusLog.limit(10), :spacer_template => 'shared/line_spacer' %>
</div>

<div class="clear"></div>
<h1 class="silver"><%= t(:feed) %></h1>
<%= render :partial => 'activities/activity', :collection => Activity.limit(10), :spacer_template => 'shared/spacer' %>
