<% content_for :sidebar do %>
  <div class="b-box">
    <div class="bar bg-blue"><%= t(:statistics) %></div>
    <table>
      <tr>
        <td><%= t(:projects) %></td>
        <td><%= Project.count %></td>
      </tr>
      <tr>
        <td><%= t(:people) %></td>
        <td><%= User.count %></td>
      </tr>
      <tr>
        <td><%= t(:issues) %></td>
        <td><%= Issue.count %></td>
      </tr>
      <tr>
        <td><%= t(:todo) %></td>
        <td><%= TodoItem.count %></td>
      </tr>
    </table>
  </div>

  <div class="b-box">
    <div class="bar bg-blue"><%= t(:all_users) %></div>
    <%= render_with_spacer 'user', User.all %>
  </div>
<% end %>
<h1 class="silver"><%= t(:projects) %></h1>
<% Project.all.each do |p| %>
  <div class="span-7 b-box">
    <div class="bar bg-gray"><%= link_to p.name, p %></div>
    <table with="300">
      <% total = p.issues.count %>
      <% ['open', 'working_on', 'closed'].each do |state| %>
        <% state_count = p.issues.send("state_#{state}").count %>
        <% percent = total > 0 ? state_count * 100 / total : 0; %>
        <tr>
          <td width="50"><%= t("issue.state.#{state}") %></td>
          <td>
            <%= link_to "#{percent}%", "/projects/#{p.id}/filter/#{state}",
                  :class => "percent_bar state-#{state}",
                  :style => "width: #{percent < 50 ? percent * 2.5 : percent}%"
            %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<div class="clear"></div>
<h1 class="silver"><%= t(:people) %></h1>
<%= render :partial => 'users/user_working_on', :collection => User.all, :spacer_template => 'shared/line_spacer' %>
