<h2 class="title"><%= t(:welcome) %></h2>
<%= render 'shared/line_spacer' %>
<div class="margin-10">&nbsp;</div>
<%= render 'user_sessions/form' %>

<%= render 'shared/line_spacer' %>
<div class="margin-10">&nbsp;</div>
<span class="quiet">&gt;&nbsp;</span><%= link_to t(:register), register_path, :class => :action %>
