= form_for [@project, @document] do |f|
  = render 'shared/error_messages', :obj => f.object
  .name.text_field
    .label
      = f.label :title, t(:title)
      .description 请使用简短清晰的标题
    = f.text_field :title
  .description.text_area
    .label
      = f.label :description, '说明(选填)'
      .description 文档简介
    = f.text_field :description
  .submit
    = f.submit t(:save)
