.page_header
  .text_actions
    = link_to t(:edit), edit_project_document_path(@project, @document)
    = link_to t(:delete), [@project, @document], :method => :delete, :confirm => t(:delete_confirm)
  %h2= @document.title
  .description= @document.description

.buttons#buttons
  = link_to [@project, @document, @document_section], :class => 'add_button note_button' do %(<span>段落</span>) end

