%h2= @document.title
.document_sections
  = render @document.document_sections

- if can? :manage, @document
  = form_for [@project, @document, @document.document_sections.new], :remote => true do |f|
    .row
      = f.text_field :title
      %br/
      = f.text_area :content
    = f.submit
