<h2><%= @document.title %></h2>
<div class="document_sections">
  <%= render @document.document_sections %>
</div>

<% if can? :manage, @document %>
  <%= form_for [@project, @document, @document.document_sections.new], :remote => true do |f| %>
    <div>
      <%= f.text_field :title %><br/>
      <%= f.text_area :content %>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>
