<article class="module width_full">
  <header>
    <h3 class="tabs_involved">
      <%= icon 'doc' %>
      <%= @document.title %>
    </h3>
  </header>
  <div class="module_content">
    <%=raw parse_markdown(@document.content) %>
  </div>
  <% if can? :manage, @document %>
  <footer>
    <ul class="actions">
      <li><%= link_to t(:edit), edit_project_document_path(@project, @document), :class => :btn %></li>
      <li><%= link_to t(:delete), project_document_path(@project, @document),
        :method => :delete, :confirm => t(:delete_confirm), :class => :btn %></li>
    </ul>
  </footer>
  <% end %>
</article>