<% content_for :sidebar do %>
  <div class="ibox">
    <div class="bar heading"><%= t(:project_progress) %></div>
    <% total_issues = @project.issues.count %>
    <% finished_issues = @project.issues.only_finished.count %>
    <% closed_issues = @project.issues.only_closed.count %>
    <% percent = closed_issues > 0 ? (closed_issues * 100.0 / total_issues) : 0 %>
    <table>
      <tr class="bg_highlight">
        <td class="quiet"><%= t('issue.state.total') %></td>
        <td><%= total_issues %>
        <%= link_to project_issues_path(@project) do %>
          <%= image_tag 'ext.png', :align => :absmiddle, :height => 10, :width => 10, :class => 'tiptip', :title => t(:view_all_issues) %>
        <% end %>
        </td>
      </tr>
      <tr class="bg_highlight">
        <td class="quiet"><%= t('issue.state.finished') %></td>
        <td><%= finished_issues %></td>
      </tr>
      <tr class="bg_highlight">
        <td class="quiet"><%= t('issue.state.closed') %></td>
        <td><%= closed_issues %></td>
      </tr>
    </table>
    <div class="progress_bar radius-8">
      <div class="state-closed" style="width: <%= percent %>%">
        <% if percent < 85 %>
          <span class="progress_text" style="margin-left: <%= 150 * percent / 100 + 5 %>px; color: #999;"><%= percent %>%</span>
        <% else %>
          <span class="progress_text" style="margin-left: 5px; color: white;"><%= percent %>%</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<h1><%= @project.name %></h1>

<span class="right"><%= as_button(link_to(t(:new_milestone), new_project_milestone_path(@project))) %></span>
<h1 class="silver"><%= t(:milestones) %></h1>
<%= render @project.milestones %>

<h1 class="silver"><%= t(:project_feed) %></h1>
<%= render Activity.where(['related_id = ? AND related_type = ?', @project.id, 'Project']) %>

