- content_for :content_area do
  %h3 会话
  = form_for [@project, @conversation], :html => {:multipart => true}, :remote => true do |f|
    - @conversation.replies.build
    - f.fields_for :replies do |reply_form|
      = render 'replies/fields', :f => reply_form
    = f.submit

  .conversations
    = render @project.conversations.order('updated_at DESC'), :project => @project

= render 'shared/project_page'
