<div class="activity">
  <span><%= activity.user.name %></span>
  <span class="right">
    <% case activity.event_name %>
    <% when 'create_project' %>
      <%= icon 'folder' %>
    <% when 'create_issue' %>
      <%= icon activity.data['label'] %>
    <% when 'create_comment' %>
      <%= icon 'comments' %>
    <% when 'change_issue_state' %>
      <%= icon 'gear' %>
    <% when 'assign_issue' %>
      <%= icon 'key' %>
    <% when 'chat' %>
      <%= icon 'chat' %>
    <% when 'create_document'%>
      <%= icon 'doc' %>
    <% end %>
  </span>

  <%=raw format_activity(activity) %>
</div>
