<div class="activity-item">
  <div class="gra"><%= gravatar_for(activity.user.email, :class =>:normal) %></div>

  <% case activity.event_name %>
  <% when 'create_project' %>
    <%= icon 'folder' %>
  <% when 'create_issue' %>
    <%= icon activity.data['label'] %>
  <% when 'create_comment' %>
    <%= icon 'comments' %>
  <% when 'change_issue_state' %>
    <%= icon 'gear' %>
  <% when 'assign_issue' %>
    <%= icon 'key' %>
  <% when 'chat' %>
    <%= icon 'chat' %>
  <% when 'create_document'%>
    <%= icon 'doc' %>
  <% end %>

  <%=raw format_activity(activity) %>

<p>
  Update by <span class="author"><%= link_to activity.user.name, activity.user, :class => :plain %></span>

   <span class="date"><%= time_ago_in_words(activity.created_at) + t(:ago) %></span>
</p>

</div>
