.activity
  %span= activity.user.name
  %span.right
    - case activity.event_name
    - when 'create_project'
      = icon 'folder'
    - when 'create_issue'
      = icon 'task'
    - when 'create_comment'
      = icon 'comments'
    - when 'change_issue_state'
      = icon 'gear'
    - when 'assign_issue'
      = icon 'key'
    - when 'chat'
      = icon 'chat'
    - when 'create_document'
      = icon 'doc'

  =raw format_activity(activity)
