%div{:class => "activity #{activity.event_name}"}
  = link_to '', activity.user, :class => :micro_avatar, :style => "background: url(#{avatar_url(activity.user)}) no-repeat"
  - case activity.event_name
    - when 'create_issue'
      = my_icon :tasks, :style => 'padding: 4px; opacity: 0.2;'
  .activity_block
    .date= time_ago_in_words(activity.created_at) + t(:ago)
    = link_to activity.user.name, activity.user
    =raw format_activity(activity)

