= form_for @user_session do |f|
  %fieldset
    %legend= t(:log_in)
    .row
      = f.label :email
      %br/
      = f.text_field :email
    .row
      = f.label :password, t(:password)
      %br/
      = f.password_field :password
    = f.submit t(:log_in)

