= form_for @user_session do |f|
  = render 'shared/error_messages', :obj => f.object
  .login.text_field
    = f.label :email
    %br/
    = f.text_field :email
  .password.text_field
    = f.label :password, t(:password)
    %br/
    = f.password_field :password
  = f.submit t(:log_in)

