<%= form_for @user_session do |f| %>
  <fieldset>
    <legend><%= t(:log_in) %></legend>
    <div>
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, t(:password) %><br/>
      <%= f.password_field :password %>
    </div>
    <%= f.submit t(:log_in) %>
  </fieldset>
<% end %>

