<% session = UserSession.new %>
<%= form_for session do |f| %>
  <%= render 'shared/error_messages', :obj => session %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, t(:password) %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t(:log_in) %>
  </div>
<% end %>
