<% content_for :base do %>
  <%= render 'layouts/nav_header' %>

  <div class="container" id="main_area">
    <%= render 'layouts/breadcrumbs', :breadcrumbs => breadcrumbs %>

    <div class="span-16" id="content">
      <%= yield :content %>
    </div>

    <div class="span-6 last" id="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/main_javascripts' %>
<% end %>
