<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>
  <%= render 'layouts/nav_header' %>
  <div class="container">
    <%= render 'layouts/flash_messages' %>
  </div>

  <div class="container" id="main_area">
    <%= render 'layouts/breadcrumbs', :breadcrumbs => breadcrumbs %>

    <div class="span-16" id="content">
      <%= yield %>
    </div>

    <div class="span-6 last" id="sidebar">
      <%= yield :sidebar %>
    </div>
  </div>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/main_javascripts' %>
  <%= render 'shared/ga' %>
</body>
</html>

