<!DOCTYPE html>
<html>
<head>
  <title><%= @title + ' - ' if @title %>Blumine</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <% # use 'blueprint' css framework %>
  <%= stylesheet_link_tag "bp/screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "bp/print", :media => "print" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "bp/ie", :media => "screen, projection" %>
  <![endif]-->
</head>
<body>
  <div id="header">
    <div class="container">
      <div id="logo" class="span-4">Blumine</div>
      <div class="span-6 prepend-3 links">
        <%= link_to "首页", root_path %>
        <%= link_to "注册", new_user_path %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="span-16">
      <%= yield %>
    </div>

    <div class="span-8 last">
      <%= yield :sidebar %>
    </div>

    <div class="span-24" id="footer">
      <p class="quiet">&copy; <%= Time.now.year %> Project Blumine</p>
    </div>
  </div>
</body>
</html>
