!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge" }
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %title= "#{@title + ' - ' if @title}BluMine"

    = stylesheet_link_tag 'application', :media => 'screen'
    = stylesheet_link_tag 'print', :media => 'print'

    = javascript_include_tag :defaults
    = yield :head_hook

  %body
    / render 'shared/keyboard'
    - show_flash
    #header_wrap
      = render 'shared/header'
      = yield :header_wrap
    #container.container
      .wrapper
        .content_wrap
          #content.content= yield
      = render 'shared/footer'
      = render 'shared/common_js'
