<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>
  <%= render 'layouts/nav_header' %>
  <div class="container">
    <%= render 'layouts/flash_messages' %>
  </div>

  <div class="container" id="main_area">
    <div class="span-22" id="content">
      <%= yield %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/main_javascripts' %>
</body>
</html>
