<article class="module width_full">

	<header><h3><%= t(:account_settings) %></h3></header>

	<div class="module_content"> 
		
		<%= form_for current_user, :url => account_path do |f| %> 
		
		  <%= render 'shared/error_messages', :obj => f.object %>
		 	
			<fieldset>
			    <%= f.label :name, t(:username) %>
			    <%= current_user.name %>   
			</fieldset>

			<fieldset>
			    <%= f.label :email, t(:email) %>
			    <%= current_user.email %>     
			</fieldset>

			<fieldset>
			    <%= f.label :locale, t(:default_locale) %>
			    <%= f.select :locale, options_for_select({"English" => "en", "中文" => "zh"}, current_user.locale) %>    
			</fieldset>

			<fieldset>
			    <%= f.label :role, t('role.name') %>
			    <%= f.select :role, options_for_select(User::ROLES.collect {|role| [t("role.#{role}"), role] }, current_user.role) %>    
			</fieldset>
		
		
		    <%= f.submit t(:save) %>  
		
		<% end %>
	</div>

</article>
<!-- end of styles article -->

