%h3= t(:account_settings)

= form_for current_user, :url => account_path do |f|
  = render 'shared/error_messages', :obj => f.object
  .row
    = f.label :name, t(:username)
    = f.text_field :name
  .row
    = f.label :email, t(:email)
    = f.text_field :email
  - [:phone, :im, :address].each do |profile_item|
    .row
      = f.label profile_item, t("profile.#{profile_item}")
      = f.text_field profile_item
  .row
    = f.label :role, t('role.name')
    %br/
    = f.select :role, options_for_select(User::ROLES.collect {|role| [t("role.#{role}"), role] },
      current_user.role)
  %h3 修改密码
  .row
    = f.label :password, t('auth.password')
    = password_field :user, :password
  .row
    = f.label :password_confirmation, t('auth.password_confirmation')
    = password_field :user, :password_confirmation
  = f.submit t(:save)

